.appointment-list {
  font-family: sans-serif;
  max-width: 80%; /* Limit width to 80% of the viewport */
  margin: 0 auto; /* Center the list horizontally */
}

.appointment-list h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #007bff;
}

.appointment-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.appointment-list li:hover {
  background-color: #7eb7f4;
}


.appointment-list li {
  background-color: #e0e8f0;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start; /* Align items from the top */
  color: #333;
  transition: background-color 0.2s ease-in-out;
}

.appointment-list li span {
  flex: 1; /* Allow other spans to shrink and not reach the bottom */
  font-weight: bold; /* Make item names bold */
  margin-right: 1rem; /* Add margin to the right for spacing */
}


/* Additional styling for the logo (replace with your logo image path) */
.logo {
  display: block;
  margin-bottom: 1rem;
  text-align: center; /* Center align the logo */
}

.logo img {
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  
}


.blue-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}